@charset "utf-8";

* {
    box-sizing: border-box;
}

/* bodyコンテナ化 共通 */
body .container {  /* container導入 */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
header {  /* 横枠を100％まで広がって自動で余白を取る */
    width: 100%;
    margin: 0 auto;
}
main {
    width: 100%;
    margin: 0 auto;
}
footer {
    width: 100%;
    margin: 0 auto;
}

/* 全体共通部品 */
body {
    font-size: 100%;
    color: #4d2100;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}
body ul li {
    color: #4d2100;
    list-style-type: none;  /* 行頭記号無し */
    padding: 0px;  /* デフォルトの行頭記号余白を無効化 */
    margin: 0px;  /* デフォルトの行頭記号余白を無効化 */
}
body ul li:hover {
    color: #0bd;  /* 要件 */
}
a[href]{
    text-decoration: none;  /* リンクのデコレーションを無効化 */
}
h3 {
    text-align: left;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: large;
}

/* header共通 */
header .logo {  /* logoのボックスサイズ */
    width: 200px;
    height: auto;
    margin: 0 auto;
}
header .logo img {  /* logoのイメージサイズは'div class=logo'に依存 */
    width: 100%;
    height: 100%;
}
header nav {
    width: 100%;
}
header nav ul {
    display: flex;
    justify-content: center;
}
header nav ul li {
    margin: 10px 20px;
}
header h2 {  /* indexは該当タグ無し */
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: xx-large;
}

/* footer共通 */
footer {
    background: #331600;
}
footer p {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

/* 背景画像の指定 */
.indexFullscreen {
    background-image: url(../src/image/main-bg.jpg);
}
.newsHeaderBox {
    background-image: url(../src/image/news-bg.jpg);
}
.menuHeaderBox {
    background-image: url(../src/image/menu-bg.jpg);
}
.contactHeaderBox {
    background-image: url(../src/image/contact-bg.jpg);
}

/* 背景画像に関する設定 */
/* #ISSUE:index以外は画像の配置を固定したい（追従させたくない） */
.newsHeaderBox, .menuHeaderBox, .contactHeaderBox, .indexFullscreen {  /* 背景共通設定 */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.menuHeaderBox, .contactHeaderBox, .indexFullscreen {
    background-color: rgba(255,255,255,0.4);  /* 背景色を白に指定して透過度を0.8 */
    background-blend-mode: lighten;  /* 透過指定とオプション */
}

/* index */
.indexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}
.indexBox h2 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
    margin: 20px 0px;
    width: 90%;
}
.indexBox p {
    text-align: left;
    width: 90%;
}
.indexBox button {
    margin: 30px;
    padding: 10px 30px;
    border: solid 0px;
    border-radius: 5px;
    background-color: #00bfff;
    color: #ffffff;
}

/* news */
header .newsTop {
    margin: 30px 0 50px;
}
main.newsContainer {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}
.newsContainer article.articleBox {
    display: flex;
    flex-direction: column;
}
.newsContainer .articleHeader {
    background-color: violet;  /* #ISSUE: テスト用 */
    display: flex;
}
.newsContainer .articleHeader time.updateTime {
    border: dimgray solid 2px;  /* #ISSUE: テスト用 */
    padding: 5px;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.newsContainer .articleHeader span {
    text-align: center;
}
.newsContainer .articleHeader div.contentTitle {
    border: teal solid 2px;
    padding: 5px;
    width: 80%;
}
.newsContainer .articleContents {
    margin: 10px 0;
}
.newsContainer .articleContents img {
    width: 100%;
    height: 100%;
    margin: 10px 0;
}
.newsContainer .articleContents p {
    padding: 3px 0;
}
.newsContainer aside.sidebarBox {
    margin-top: 30px;
    border: solid 3px palegreen;  /* #ISSUE: テスト用 */
    display: flex;
    flex-direction: column;
}
.newsContainer .sidebarBox section {
    border: red solid 3px;
    margin-bottom: 10px;
}

/* menu main */
.menuContainer {
    background-color: blue;
    padding: 20px;
    display: grid;
}
.menuContainer .gridBox img {
    width: 100%;
    height: 100%;
}

/* contact main */
.contactContainer {
    background-color: blue;
    padding: 20px;
}
.contactContainer .mapBox {
    display: flex;
}
.contactContainer .mediaBox {
    display: flex;
}
