@charset "utf-8";

* {
    box-sizing: border-box;
}

/* 共通部品 */
body {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}
body ul li {
    color: black;
    list-style-type: none;  /* 行頭記号無し */
    padding: 0px;  /* デフォルトの行頭記号余白を無効化 */
    margin: 0px;  /* デフォルトの行頭記号余白を無効化 */
}
body ul li:hover {
    color: #0bd;  /* 要件 */
}
a[href]{
text-decoration: none;  /* リンクのデコレーションを無効化 */
}

/* body コンテナ化 共通 */
body .container {  /* container導入 */
display: flex;
flex-direction: column;
min-height: 100vh;
align-items: center;
}

/* header共通 */
header {  /* 横枠を100％まで広がって自動で余白を取る */
    width: 100%;
    margin: 0 auto;
}
header .logo {  /* logoのボックスサイズ */
    width: 200px;
    height: auto;
    margin: 0 auto;
}
header .logo img {  /* logoのイメージサイズは'div class=logo'に依存 */
    width: 100%;
    height: 100%;
}
header nav {
    width: 100%;
}
header nav ul {
    display: flex;
    justify-content: center;
}
header nav ul li {
    margin: 10px 20px;
}
header h2 {  /* indexは該当タグ無し */
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

/* index表示のフルスクリーン背景 */
.indexFullscreen {
    background-image: url(../src/image/main-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* #TODO: 透過処理を入れる */
    background-color: rgba(255,255,255,0.4);  /* 背景色を白に指定して透過度を0.8 */
    background-blend-mode: lighten;  /* 透過指定とオプション */
}

/* header画像表示 */
.newsHeaderBox {
    background-image: url(../src/image/news-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.menuHeaderBox {
    background-image: url(../src/image/menu-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255,255,255,0.4);  /* 背景色を白に指定して透過度を0.8 */
    background-blend-mode: lighten;  /* 透過指定とオプション */
}
.contactHeaderBox {
    background-image: url(../src/image/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255,255,255,0.4);  /* 背景色を白に指定して透過度を0.8 */
    background-blend-mode: lighten;  /* 透過指定とオプション */
}

/* index main */
.indexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.indexBox h2 {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    width: 90%;
    margin: 20px;
}
.indexBox p {
    width: 90%;
    text-align: left;
}
.indexBox button {
    margin: 30px;
    padding: 8px 20px;
    border: solid 0px;
    border-radius: 5px;
    background-color: #00bfff;
    color: #ffffff;
}

/* news main */
.newsContainer {
    background-color: blue;
    padding: 20px;
    display: flex;
}
.newsContainer .articleHeader {
    background-color: violet;
}
.newsContainer .articleContents {
    background-color: orange;
}
.newsContainer .sidebarBox {
    background-color: palegreen;
}
.articleContents img {
    width: 100%;
    height: 100%;
}

/* menu main */
.menuContainer {
    background-color: blue;
    padding: 20px;
    display: grid;
}
.menuContainer .gridBox img {
    width: 100%;
    height: 100%;
}

/* contact main */
.contactContainer {
    background-color: blue;
    padding: 20px;
}
.contactContainer .mapBox {
    display: flex;
}
.contactContainer .mediaBox {
    display: flex;
}
